.course {
    /* background: url(../../../../public/img/react.png) center no-repeat; */
    
}

.course_items {
    
    background-color: rgb(56, 46, 65);
    width: 100%;
    height: 400px;
    color: snow;
}

.course_item {
    padding-top: 100px;


}


.course_title {
    font-size: 40px;
    font-weight: 700;
}
.course_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.lessons_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.lessons_menu {
    position: relative;
    padding-top: 30px;
    margin-left: 100px;
}

.lessons_menu_item {
    position: sticky;
    top: 0;
}

.sticky {
    position: sticky;
    top: 20px;
}

.course_img img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.lessons {
    margin-top: 50px;
    color: black;
}

.lessons_item {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 750px;
}