.course-images {
  display: flex;
  justify-content: space-between;
}

@media screen and  (max-width: 948px) {
  .course-images{
    row-gap: 20px;
    flex-direction: column;
  }
  .prevVid{
    width: 100%!important;
  }
}

.course-col {
  display: flex;
  /* flex: 0 0 50%; */
  flex-direction: column;
}

.img-area {
  position: relative;
}

.img-area::after {
  content: attr(data-img);
  position: absolute;
  display: block;
  inset: 0;
  background: transparent;
  width: 100%;
}

.form-col {
  display: flex;
  flex-direction: column;
}
