.courses {
    color: black;
}

.course-search__inner {
    display: flex;
    gap: 20px;
}

.section-padding {
    padding: 40px 0;
}

@media screen and (max-width: 460px) {
    .course-search__inner {
        display: flex;
        flex-direction: column;
    }
}